#text{
    border-radius: 0px;
    outline: none;
    border-top:0px;
    border-right:0px;
    border-bottom:0px;
    border-width:5px;
    padding:20px;
    border-color:dodgerblue;
    font-size:120%;
    margin-top:40px;
    transition:0.14s

}
#text:active{
    transform:scale(0.85)
}
#btn,#btn1{
    transition: 0.14s;
    padding:10px;
    font-size: 100%;
    border-radius: 3px;
    border-width: 0px;
    background-color: dodgerblue;
    color: white;
}
#btn:active{
    transform:scale(0.85);
}
#btn1:active{
    transform:scale(0.85);
}
#btn{
    padding:10px;
    position: relative;
    left:100px;
    top:100px
}
#btn1{
    padding:10px;
    position: relative;
    left:100px;
    top:100px
}
